@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1d1e27;
  --foreground: #f3eded;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d1e27;
    --foreground: #ededed;
  }
}

body {
  @apply bg-background text-foreground;
  background-color: #001d37;
  color: whitesmoke;
}





.head-title {
  font-family: "Play", serif;
  font-weight: 700;
  font-style: normal;
  display: inline;
}

.digit {
  color: orange;
  font-family: "Play", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
}

.digit-2 {
  color: rgb(241, 138, 65);
  font-family: "Play", serif;
  font-weight: 400;
  font-style: normal;
}

.text-sm {
  font-family: "Play", serif;
  font-weight: 400;
  font-style: normal;
}