@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #161e2a;
  --foreground: #f3eded;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



.head-title {
  font-family: "Play", serif;
  font-weight: 700;
  font-style: normal;
  display: inline;
}

.digit {
  color: orange;
  font-family: "Play", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
}

.digit-2 {
  color: rgb(241, 138, 65);
  font-family: "Play", serif;
  font-weight: 400;
  font-style: normal;
}

.text-sm {
  font-family: "Play", serif;
  font-weight: 400;
  font-style: normal;
}